@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 980px;

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$wide-screen: 1280px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
$wide-screen-up: new-breakpoint(min-width $wide-screen 12);