{# ============================================================
    Reusable Form for our SimpleCRUD
   ============================================================ #}

{% extends "main.twig" %}
{% block bodyclass %}class="listing"{% endblock %}
{% block content %}
  <div id="primary" class="content-area"> 

    {% if action == "add" %}
      <h1 class="page-title">Add new CRUD sample</h1>
    {% elseif action == "edit" %}
    	<h1 class="page-title">Edit CRUD sample</h1>
    {% elseif action == "delete" %}
      <h1 class="page-title">Edit CRUD sample</h1>
    {% endif %}

    <form action="" method="POST">
      {% if ( error.class ) %}
        <fieldset class="{{ error.class }}">{{ error.msg }}</fieldset>
      {% endif %}  
      <fieldset>
        <p>
          <label>First Name</label>
          <input type="text" name="firstname" value="{{ post.firstname }}" {% if action == "delete" %}disabled="disabled"{% endif %} >
        </p>  
        <p>
          <label>Last Name</label>
          <input type="text" name="lastname" value="{{ post.lastname }}" {% if action == "delete" %} disabled="disabled"{% endif %} >
        </p>  
        <p>
          <label>Score</label>
          <input type="text" name="score" value="{{ post.score }}" {% if action == "delete" %} disabled="disabled"{% endif %} >
        </p>  
          {% if action == "add" %}
            <button name="submit">Submit</button>
          {% elseif action == "edit" %}
            <button name="submit">Update</button>
          {% elseif action == "delete" %}
            <button name="submit" value="submit">Yes, Delete It</button>
          {% endif %}
            <a href="/crud" class="btn btn-secondary">Cancel</a>
        <p>
          
        </p>  
      </fieldset>  
    </form>  
  </div>
{% endblock %}  

{% block sidebar %}{% endblock %}

{% block footer_content %}{% endblock %}