{% spaceless %}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="//gmpg.org/xfn/11">
<title>{% block title %}Slim - a microframework for PHP{% endblock %}</title>
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link rel='stylesheet' id='mysite-css'  href='{{ base_url() }}/style.css' type='text/css' media='all'> 
<link rel="shortcut icon" href="{{ base_url() }}/favicon.ico">
{% block header_include %}{# header include: js, css #}{% endblock %}   
{% block metarobot %}{# Metas definition #}{% endblock %}
{% block analytic %}{# Google Analytic Scripts#}{% endblock %}
</head>
<body {% block bodyclass %}{% endblock %}>
<div id="page" class="hfeed site">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <header id="masthead" class="site-header" role="banner">
    <div class="site-branding">
      {# <h1 class="site-title"><a href="/" rel="home">Slim - a microframework for PHP</a></h1> #}
      <a href="{{ base_url() }}" rel="home"><img src="/img/logo.png" alt="Slim - a microframework for PHP"></a>
      {# <h2 class="site-description">Site Description</h2> #}
    </div>{#<!-- .site-branding -->#}

    {% block user_navigation %}
      {#
      <nav id="user-navigation" class="user-navigation" role="navigation">
        <div class="menu-user-container">
          <ul id="user-menu" class="menu">
            <li><a href=""><i class="icon-help-circled"></i>Help</a></li> 
            {% if not user.logged_in %}
              <li><a href="" class="nav-login"><i class="icon-login"></i>Login</a></li>
              <li><a href="" class="nav-signup"><i class="icon-signup"></i>Signup</a></li>
            {% else %}
              <li><a href="" class="nav-dashboard"><i class="icon-dashboard"></i>Dashboard</a></li>
              <li><a href="" class="nav-logout"><i class="icon-logout"></i>Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      #}
      {#<!-- #user-navigation -->#}
    {% endblock %}

    {% block navigation %}
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
        <div class="menu-main-container">
          <ul id="primary-menu" class="menu">
            <li><a href="/crud">Simple CRUD</a>
              <ul>
                <li><a href="/crud/add">Add</a></li>
              </ul>
            </li>
            <li><a href="/cat">Category 2</a></li>
            <li><a href="/cat">Category 3</a></li>
          </ul>
        </div>

      </nav>{#<!-- #site-navigation -->#}
    {% endblock %}
      
  </header>{#<!-- #masthead -->#}

  <div id="content" class="site-content">    

    {% block content %}
      <div id="primary" class="content-area"> 

        <h1>Welcome to <span style="color: #9D3C3A;">My Website</span></h1>

        <p><img src="/img/logo.png" class="alignright"> Lorem ipsum dolor sit amet, ex euismod praesent necessitatibus nec. Usu ne etiam prodesset expetendis, bonorum periculis temporibus no eos. Fugit expetenda te mei, et pro equidem recusabo scriptorem. Eam ei meis magna efficiantur. Mea in sint dicunt feugait, tantas timeam eum eu, erat utamur eum an.</p>
         

        <h2>Test Heading 2</h2>   

        <p>田どスやろ兄光ラいた井利てまゅ断味スンずッ典一ム画衆スヘソメ能康記さゆ説忘がぽる一辺テモス愛現ナス寺67力ムメリ樹郁とげら員話えば視針ゅやよぞ刑掲募ざフぼ。47準警奈雑6事シヒレマ咲記ヘア中毎ホハヤサ代入るいだゆ育様同リん過随81準警奈雑4元出ヒレイ未的ッらみ社商ヒ楽盾オ帰開ヱ作国モ多磨ょに図場劇海こぞむ。</p>

        <h3>Test Heading 3</h3>   
        <p>Либриз юрбанйтаж пэркёпитюр но хаж, мэя ан маиорюм конклььюжионэмквуэ, ку шэа эрож тота оффэндйт. Ед чтэт ёудёкабет эож, ты атквюе майыжтатйж эжт. Ты хаж дёкант дектаж. Нэ дыкоры нонюмэш мэя, про ку квуым копиожаы. Еюж патриоквюы дежпютатионй ат, порро апыирёан адипижкй квуй ад.</p>

        <h4>Test Heading 4</h4>   
        <p>Νες νοφυμ γλοριαθυρ αδ. Ηαβεο παρτιενδω σωνσεθεθυρ μει ει. Νες μωδω ενιμ φυγιθ εξ, φιξ δισαθ ασυσαμ αν, νο εραθ σαεπε σονστιθυαμ ηις. Νο μει θωτα σολυμ δεμωσριθυμ, θε πρι λαβορες περισυλα.</p>

        <h5>Test Heading 5</h5>   
        <p>अधिकार प्रदान स्वतंत्रता विवरन जाएन एवम् सादगि वेबजाल विनिमय स्वतंत्रता डाले। अन्य व्याख्या प्राधिकरन बनाति यायेका कार्यलय कर्य काम दर्शाता बेंगलूर मुख्य खरिदे सकता संपादक और्४५० सादगि पहोचने वेबजाल देकर गटकउसि विचारशिलता ढांचामात्रुभाषा सहित जिसकी ब्रौशर हमेहो। कार्यकर्ता ध्वनि उदेश</p>

        <p>政壁厳日去日凱女衛変公悦在番作輪情聞大訪。増常帽城報結稿部暮索江在紙救真出。警作能中一政能人提選込御。演伎指二除支万標化水面終失当観信経感。人面物虐会注覧争因社体漬野報投熱。野望徴善騎着属染達理席場玉顔。衝打要面暮真田掲暮治北給付件消仙成気。光事排座毎儀活付面手一箱研牧給高読握。属細厚紀投京断無疲属海法氷。</p>

        {#
        <main id="main" class="site-main" role="main">      
          <article id="post-1609" class="post-1609 post type-post status-publish format-standard hentry category-kerlip-malam city-jakarta">
            <header class="entry-header">
              <h1 class="entry-title">Miss Lana</h1>
              <div class="entry-meta"> 
                <span class="posted-on">Posted on <a href="http://lokalaku.com/kerlip-malam/miss-lana.html" rel="bookmark"><time class="entry-date published" datetime="2011-04-06T13:10:41+00:00">06/04/2011</time><time class="updated" datetime="2011-04-21T14:29:39+00:00">21/04/2011</time></a>
                </span>
                <span class="byline"> by <span class="author vcard"><a class="url fn n" href="http://lokalaku.com/author/halfmoon">halfmoon</a></span></span>
              </div>
            </header>
            <div class="entry-content">
              <p>Sample Content</p>
            </div>
            <footer class="entry-footer"> 
              <span class="cat-links">Posted in <a href="/kerlip-malam" rel="category tag">Kerlip Malam</a></span>
            </footer>
          </article>
        </main>
        #}

      </div>    
    {% endblock %}

    {% block sidebar %}
      <aside id="secondary" class="widget-area" role="complementary">
        <section id="recent-posts-1" class="widget widget_recent_entries">
          <h2 class="widget-title">Recent Posts</h2>
          <ul>
              <li> <a href="#link1">Sample Link 1</a></li>
              <li> <a href="#link2">Sample Link 2</a></li>
              <li> <a href="#link3">Sample Link 3</a></li>
              <li> <a href="#link4">Sample Link 4</a></li>
              <li> <a href="#link5">Sample Link 5</a></li>
          </ul>
        </section>
        <section id="text-1" class="widget widget_text">
          <div class="textwidget">Sample</div>
        </section>
      </aside><!-- #secondary -->
    {% endblock %} 

  </div><!-- #content -->
    
  <footer id="colophon" class="site-footer" role="contentinfo">
    {% block footer_content %}
      <div class="site-footer-content">
        <div class="wrap">
          <div class="site-about">
            <h3>MySite.com</h3>
            <ul>
              <li><a href="#">About Us</a></li>
              <li>Career</li>
              <li>Blog</li>
              <li>Media Kit</li>
            </ul>
          </div>
          <div class="site-help">
            <h3>Help</h3>
            <ul>
              <li><a href="">Terms &amp; Conditions</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
          <div class="site-ad">
            <div class="site-app">&nbsp;</div>
          </div>    
        </div>
      </div>
    {% endblock %}

    {% block footer_bar %}
      <div class="site-info">
        <div class="copyright">&copy; 2016 My Site</div>
      </div>{#<!-- .site-info -->#}
    {% endblock %}
  </footer>{#<!-- #colophon -->#}

</div><!-- #page -->

<script type="text/javascript" src="/js/main.js"></script>
{% block footer_include %}{# footer include #}{% endblock %}  
</bOdy>
</html>
{% endspaceless %}